.c-button__nav {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    padding: 0.4rem 3rem;
   
}

.c-button__nav--sp {
    display: none;
}


.c-button__contact {
    width: 150px;
    padding: 0.6rem 2rem;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    font-size: 14px;
    margin: 2rem 0;
    display: block;
    text-align: center;
}

.c-button__footer {
    display: block;
    padding: 0.5rem 2rem;
    border: 1px solid #fff;
    font-size: 10px;
}

.c-button__hover {
    transition: 0.4s;
    
    &:hover {
        background-color: #fff;
        color: #000;
        box-shadow: #fff 0 0 10px;
    }

}

.c-a__hover--nav {
    padding-bottom: 7px;
    position: relative;

    &::before {
        background: #fff;
        content: '';
        width: 50%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        margin: auto;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .3s;
        box-shadow: #fff 0px 1px 2px;
    }

    &:hover::before {
        transform-origin: left top;
        transform: scale(1, 1);

    }
}

.c-a__button--info {
    font-size: 12px;
    position: relative;
    margin-right: 1rem;
    text-align: left;

    .fa-chevron-right {
        position: absolute;
        right: -1rem;
        transition: 0.3s;
        font-size: 8px;
        top: 3px;
    }

    &:hover .fa-chevron-right {
        right: -1.5rem;
    }
    
}

.c-a__button--main {
    color: #000;
    font-size: 10px;
    display: block;
    text-align: left;
    margin: 0 0 0 auto;
    position: relative;
    width: 80px;
    padding-bottom: 7px;

    &::before {
        background: #000;
        content: '';
        width: 30%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        margin: auto;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .3s;
        box-shadow: #fff 0px 1px 2px;
    }

    &:hover::before {
        transform-origin: left top;
        transform: scale(1, 1);

    }

    .fa-chevron-right {
        position: absolute;
        right: 0;
        transition: 0.3s;
        font-size: 8px;
        top: 1px;
    }

    &:hover .fa-chevron-right {
        right: -0.5rem;
    }
}









@media (min-width: 481px) and (max-width: 768px) {
    .c-button__nav--sp {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #fff;
        padding: 0.4rem 2rem; 
    }

    .c-button__contact {
        margin: 0;
    }
    
}




@media screen and (max-width: 480px) {
    .c-button__nav--sp {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #fff;
        padding: 0.4rem 2rem; 
    }

    .c-button__contact {
        margin: 3rem auto;
    }

    .c-button__footer {
        font-size: 12px;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
}